name: Secret Scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run gitleaks
        uses: zricethezav/gitleaks-action@v1.6.0
        with:
          args: --verbose --redact
